<div class="row">
<div align="center" class="col-lg-12" style="margin-bottom: 40px">
	<h2>Welcome to Tourist Trap!</h2>
	<h3 class="lead">Choose a neighborhood to see whether that location is touristy or not...</h3><br>
	<input type="button" value="Search again" onClick="document.location.reload(true)" class="btn btn-primary btn-sm" id="search-again"><br>
	<h1 id="results-text">And the results are in!</h1>
</div><br>
</div>
<div class="row">
	<div class="col-lg-5" id="dropdown-forms">
		<fieldset>
		  <legend>Search</legend>
		  	<div class="dropdown" style="margin-top: 25px;">
		  		<select id="borough-select" class="btn btn-primary btn-lg col-lg-12" style="height:45px;">
		    		<option value="hasnt-been-chosen">Please select a borough</option>
		    		<option value="Manhattan">Manhattan</option>
		    		<option value="Brooklyn">Brooklyn</option>
		  		</select>
				</div><br>

				<div class="form-group col-lg-12"></div>
				<div id="manhattan_form" style="display:none">
					<%= form_for @neighborhood, :url => url_for(:controller => 'tourists', :action => 'create'), remote: true do |f| %>
						<%= f.collection_select :id, @manhattan_neighborhoods, :id, :name, {:prompt => "Select a neighborhood"}, class: "form-control" %><br>
						<%= f.submit value: "SEARCH NEIGHBORHOOD", class: "submit btn btn-primary disabled col-lg-12" %>
					<% end %>
				</div><br>

				<div id="brooklyn_form" style="display:none">
					<%= form_for @neighborhood, :url => url_for(:controller => 'tourists', :action => 'create'), remote: true do |f| %>
						<%= f.collection_select :id, @brooklyn_neighborhoods, :id, :name, {:prompt => "Select a neighborhood"}, class: "form-control" %><br>
						<%= f.submit value: "SEARCH NEIGHBORHOOD", class: "submit btn btn-primary disabled col-lg-12" %>
					<% end %>
				</div><br>
		</fieldset><br>

		<div  align="center" class="circles-loader load col-md-12" id="load"></div><br>
			<div>
				<h3 class="load" style="margin-top: 50px;">We're doing some super massive analysis in the background.</h3>
				<h3 class="load">Your results will be loaded shortly...</h3>
			</div>
		</div>

		<div class="col-lg-1"></div>

		<div class="row col-lg-6">
			<div id="more-results"></div>
			<div id="tourists"></div>
		</div>
	
</div>

