
  <fieldset class="col-lg-7">
    <legend>Search</legend>
    <div class="form-group col-lg-5">
   		<%= form_for @neighborhood, :url => url_for(:controller => 'tourists', :action => 'create') do |f| %>
				<%= f.collection_select :id, @manhattan_neighborhoods, :id, :name, {:prompt => "Select a neighborhood"}, class: "form-control" %>
				<%= f.submit value: "Submit" %>
			<% end %>

		</div>
		<div class="form-group col-lg-5">
			<%= form_for @neighborhood, :url => url_for(:controller => 'tourists', :action => 'create') do |f| %>
				<%= f.collection_select :id, @brooklyn_neighborhoods, :id, :name, {:prompt => "Select a neighborhood"}, class: "form-control" %>
				<%= f.submit value: "Submit" %>
			<% end %>
		</div>
	</fieldset>


