
<div id="1">
  <fieldset class="col-lg-7">
    <legend>Search</legend>
    <button type="button" id="manhattan">Manhattan</button>
    <div class="form-group col-lg-5" id="manhattan_form" style="display:none">
   		<%= form_for @neighborhood, :url => url_for(:controller => 'tourists', :action => 'create'), remote: true do |f| %>
				<%= f.collection_select :id, @manhattan_neighborhoods, :id, :name, {:prompt => "Select a neighborhood"}, class: "form-control" %>
				<%= f.submit value: "Submit", class: "submit" %>
			<% end %>

		</div>
    <button type="button" id="brooklyn">Brooklyn</button>
		<div class="form-group col-lg-5" id="brooklyn_form" style="display:none">
			<%= form_for @neighborhood, :url => url_for(:controller => 'tourists', :action => 'create'), remote: true do |f| %>
				<%= f.collection_select :id, @brooklyn_neighborhoods, :id, :name, {:prompt => "Select a neighborhood"}, class: "form-control" %>
				<%= f.submit value: "Submit", class: "submit" %>
			<% end %>
		</div>
	</fieldset>
</div>

