<div class="col-md-5 jumbotron">
	<h3>Create a new friend</h3>

<%= form_tag(tourists_path, method: "post") do %>
  <%= label_tag("Enter a neighborhood:") %>
  <%= text_field_tag("tourist[neighborhood]") %>
  <%= submit_tag "Are there any tourists?" %>
<% end %>


<%= form_tag(tourists_path, method: "post") do %>
  <%= label_tag("Enter a latitude:") %>
  <%= text_field_tag("tourist[lat]") %>
  <%= label_tag("Enter a longitude:") %>
  <%= text_field_tag("tourist[lon]") %>
  <%= submit_tag "Are there any tourists?" %>
<% end %>