<!DOCTYPE html>
<html>
<head>

  <title>Tourist Trap</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
</head>
<body>
	<div class="container">
	   <div class="navbar">
     <%= render "layouts/navigation" %>
	   </div>
       <%= yield %>
  </div>
  </body>
</html>
