<!DOCTYPE html>
<html>
<head>

  <title>Tourist Trap</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/circles.css" type="text/css">
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&callback=drawMap">
  </script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
	<div class="container">
	   <div class="navbar col-lg-12">
     <%= render "layouts/navigation" %>
	   </div>
       <%= yield %>
  </div>
  </body>
</html>
